html, body {
    margin: 0;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    overflow-y: scroll;
    color: #595959;
}

.navbar {
    margin-top: 25px;
    margin-bottom: 80px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-header {
    float: left;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
    letter-spacing: 0.3em !important;
    font-size: 34px;
}

.navbar-nav {
    float: none;
    padding-top: 20px;
    font-size: 20px;
}

/*@media (min-width: 768px) {*/
    .navbar-nav {
        float: none;
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 20px;
        font-size: 20px;
    }
/*}*/

.navbar-nav>li {
  display: inline-block;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.entry-content {
    padding-bottom: 10px !important;
}

h1 {
    font-size: 30px !important;
}

h2 {
    font-size: 26px !important;
}

h3 {
    font-size: 20px !important;
}

p {
    font-size: 16px !important;
}

a:link {
    text-decoration: none !important;
    color: #595959;
}

a:visited {
    text-decoration: none !important;
    color: #595959;
}

a:hover {
    color: rgb(86, 112, 140);
    text-decoration: none !important;
}

a:active {
    color: rgb(86, 112, 140);
    text-decoration: none !important;
}

ul.nav li a, ul.nav li a:link {
    color: #595959 !important;
    text-decoration: none !important;
}

ul.nav li a, ul.nav li a:visited {
    color: #595959 !important;
    text-decoration: none !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: rgb(86, 112, 140) !important;
    text-decoration: none !important;
}

ul.nav li.active a {
    color: rgb(86, 112, 140) !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.blog-footer {
    margin-top: 20px;
}

article {
    margin-bottom: 20px;
}

.col-md-8 {
    margin-right: 5%;
}

.page {
    margin-top: 100px;
}
