html, body {
    margin: 0;
    font-family: 'poppins';
    font-size: 14px !important;
    overflow-y: scroll;
    color: #333;
}

.navbar {
    margin-top: 25px;
    margin-bottom: 80px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-header {
    float: left;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.navbar-nav {
    font-size: 16px !important;
    float: none;
    padding-top: 20px;
    font-size: 40px;
    text-decoration: none !important;
    color: #333;
}

/*@media (min-width: 768px) {*/
    .navbar-nav {
        float: none;
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 40px;
        font-size: 20px;
    }
/*}*/

.navbar-nav li {
  display: inline-block;

}

.navbar-default .navbar-nav > li > a {
    padding: .25rem 0.6rem;
    margin-left: .25rem;
    margin-right: .25rem;
    background:#fff;
    text-decoration: none;
    color: #ff5e5b;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #fff;
    background:#ff5e5b;
    font-weight: bold;
}


.navbar-default .navbar-nav > li.active > a {
    text-decoration: none;
    color: #fff;
    background:#ff5e5b;
    font-weight: bold;
}

.navbar-default .navbar-nav > li.active > a:hover {
    text-decoration: none;
    color: #fff;
    background:#ff5e5b;
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.entry-content {
    padding-bottom: 10px !important;
}

h1 {
    font-size: 22px !important;
    color: #333;
    border-bottom: 8px solid rgba(28,232,181,0.6);
    display: table;
    /*padding-top: .5em;*/
    margin-bottom: 0.8em;
    line-height: 1.5;
}

h1.navbar-brand {
    font-size: 26px !important;
    float: none;
    letter-spacing: 0.3em !important;
    border-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: inline;
    /*padding-top: .5em;*/
}


h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 20px !important;
}

p {
    font-size: 14px !important;
}

a:link {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

a:visited {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

a:hover {
    color: #333;
}

h1 a:link {
    text-decoration: none !important;
    color: #333;
}

h1 a:visited {
    text-decoration: none !important;
    color: #333;
}

li a:link {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

li a:visited {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

ul li a:hover {
    color: #333;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Space Mono';
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

label.tag {
    color: #fff;
    background: rgba(28,232,181,0.6);
    padding-left: 6px;
    padding-right: 6px;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.blog-footer {
    margin-top: 20px;
}

article {
    margin-bottom: 20px;
}

.col-md-8 {
    margin-right: 5%;
}

.page {
    margin-top: 100px;
}

img[alt=img-full-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

img[alt=img-half-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img[alt=img-quart-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

