html, body {
    margin: 0;
    font-family: 'poppins';
    font-size: 0.875rem !important;
    overflow-y: scroll;
    color: #333;
}

.navbar {
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-header {
    float: left;
    padding: 1.5rem 0rem;
    text-align: center;
    width: 100%;
}

.navbar-nav {
    font-size: 16px !important;
    float: none;
    padding: 1rem 0px;
    font-size: 2.5rem;
    text-decoration: none !important;
    color: #333;
}

/*@media (min-width: 768px) {*/
    .navbar-nav {
        float: none;
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        font-size: 1.25rem;
    }
/*}*/

.navbar-nav li {
  display: inline-block;

}

.navbar-default .navbar-nav > li {
    margin: 0.25rem .25rem;
}

.navbar-default .navbar-nav > li > a {
    padding: .25rem 0.6rem;
    margin: 2rem .25rem;
    background:#fff;
    text-decoration: none;
    color: #ff5e5b;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #fff;
    background:#ff5e5b;
    font-weight: bold;
}

.navbar-default .navbar-nav > li.active > a {
    text-decoration: none;
    color: #fff;
    background:#ff5e5b;
    font-weight: bold;
}

.navbar-default .navbar-nav > li.active > a:hover {
    text-decoration: none;
    color: #fff;
    background:#ff5e5b;
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.entry-content {
    padding-bottom: .625rem !important;
}

h1 {
    font-size: 22px !important;
    color: #333;
    border-bottom: .5rem solid rgba(28,232,181,0.6);
    display: table;
    /*padding-top: .5em;*/
    margin-bottom: 0.8em;
    line-height: 1.5;
}

h1.navbar-brand {
    font-size: 1.625rem !important;
    float: none;
    letter-spacing: 0.3em !important;
    border-bottom: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    display: inline;
    /*padding-top: .5em;*/
}


h2 {
    font-size: 1.25rem !important;
}

h3 {
    font-size: 1.25rem !important;
}

p {
    font-size: 0.875rem !important;
}

a:link {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

a:visited {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

a:hover {
    color: #333;
}

h1 a:link {
    text-decoration: none !important;
    color: #333;
}

h1 a:visited {
    text-decoration: none !important;
    color: #333;
}

li a:link {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

li a:visited {
    color: #ff5e5b;
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

ul li a:hover {
    color: #333;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Space Mono';
    color: #333;
    font-weight: bold;
    margin-top: .625rem ;
    margin-bottom: .625rem;
}

label.tag {
    color: #fff;
    background: rgba(28,232,181,0.6);
    padding-left: .375rem;
    padding-right: .375rem;
}

.item img {
    height: 28rem !important;
    width: 53rem !important;
}

.blog-footer {
    margin-top: 1.25rem;
}

article {
    margin-bottom: 1.25rem;
}

.col-md-8 {
    margin-right: 5%;
}

.page {
    margin-top: 6.25rem;
}

img[alt=img-full-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
}

img[alt=img-half-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
}

img[alt=img-quart-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 25%;
}

