{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1><a href="/{{ article.slug }}.html">{{ article.title }}</a></h1>
        {% for tag in article.tags %}
        <label class="tag" href="{{ SITEURL }}/tags/{{tag}}.html">{{ tag }}</label>
        {% endfor %}
        </label>
        <label class="font-weight-normal text-muted">&#8226 {{ article.date.strftime("%-d %B, %Y")}}</label>
        <p>{{ article.content }}</p>
        <h2>Comments</h2>
        {% include 'disqus.html' %}
    </div>
    <div class="col-md-3">
        <h4>Recent Posts</h4>
        {% set recent = articles if not all_articles else all_articles %}
        <ul id="recent-posts">
            {% for a in recent %}
            {% if loop.index <= 6 %}
            <li><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <!--
        <h4>Categories</h4>
        <ul id="category-list">
            {% for category, articles in categories %}
            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
        -->
        <h4>Tags</h4>
        <ul id="tag-list">
            {% for tag, articles in tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
